<div id="logo" class="container">
	 <img id="bannerImage" name="bannerImage" src="images/Schedule.jpg"/> 
</div>

<div id="page" class="container">
	<table class="tablesorter">
		<thead>
			<tr>
				<th width="25%;">
					Date
				</th>
				<th>
					Location
				</th>
				<th>
					Time
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					June 29th, 2013
				</td>
				<td>
					Pam and Mark's 25th Anniversary Party<br/>
					Private Party
				</td>
				<td>
					6:00PM-10:00PM
				</td>
			</tr>
			<tr>
				<td>
					July 13th, 2013
				</td>
				<td>
					Customer Appreciation Event<br/>
					<a href="http://obbsbar.com/" target="_">Obbs Bar</a><br/>
					1347 Burns Ave<br/>
					St Paul, MN 55106
				</td>
				<td>
					7:00PM-10:00PM
				</td>
			</tr>
			<tr>
				<td>
					September 13th, 2013	
				</td>
				<td>
					<a href="http://www.nativitycountyfair.org/" target="_">Nativity County Fair</a><br/>
					Highland Park<br/>
					St Paul, MN
				</td>
				<td>
					6:00PM-10:00PM
				</td>
			</tr>
		</tbody>
	</table>
</div>
	