<div id="logo" class="container">
	 <img id="bannerImage" name="bannerImage" src="images/Banner.jpg"/> 
</div>

<div id="bandImage" class="container">
	
	<img ng-src="images/secgentrish2.jpg"/>
</div>

<div id="page" class="container">
	<div>
		<div class="entry" style="color:black;">
			<p><b><i>2nd Generation</i></b> is a female fronted five piece band,
			specializing in the best variety of classic 60s, 70s, and 80s dance music,
			including R &amp; B, Motown, current hits, and oldies to get everyone onto the
			dance floor!</p>

			<p>They've played hundreds of events, including singles dances, company
			parties, weddings, class reunions, and outdoor festivals. They opened for
			Johnny Lang at the Withrow Ballroom in 1996, and were featured at the 2000
			Taste of Minnesota. </p>
		</div>
	</div>
</div>