<h2 style="text-align:center;font-weight:bold;">The Silver Hammer Quartet</h2>
<br/>
<div id="logo" class="container" style="height:auto;">
	 <img id="bannerImage" name="bannerImage" src="images/silverHammer/group_005.png"/> 
</div>

<div style="margin-top:30px;">
	<p style="text-align:center;">The Silver Hammer Quartet is a Beatles Tribute Band</p>
</div>

<div style="margin-top:30px;margin-bottom:20px;text-align:center;font-size:20px;">
	<h2>Booking Info</h2>
	<a href="mailto:mikeryan@mikeryan.com">Email</a><br/>
	Phone: 612-986-1013
</div>