<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Vestibule 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130406

-->
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="2ndGen">
<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>2nd Generation</title>
	<link href="http://fonts.googleapis.com/css?family=Oxygen:400,700,300" rel="stylesheet" type="text/css" />
	<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="menu-wrapper" name="menu-wrapper" ng-controller="NavigationController">
			<div id="menu" name="menu" class="container">
				<ul ng-show="is2ndGen()">
					<li id="indexNav" name="indexNav"><a href="#/index">Home</a></li>
					<li id="gigsNav" name="gigsNav"><a href="#/gigs">Gigs</a></li>
					<li id="membersNav" name="membersNav"><a href="#/members">Members</a></li>
					<li id="songListNav" name="songListNav"><a href="#/songList">Song List</a></li>
					<li id="photosNav" name="photosNav"><a href="#/photos">Photos</a></li>
					<li id="sampleNav" name="sampleNav"><a href="#/demo">Music Demo</a></li>
					<li id="silverHammer" name="silverHammer"><a href="#/silverHammer" ng-click="navigateToSilverHammer()">The Silver Hammer Quartet</a></li>
				</ul>
				<ul ng-show="isSilverHammer()">
					<li id="silverHammerNav" name="silverHammerNav"><a href="#/silverHammer">Information</a></li>
					<li id="silverHammerMediaNav" name="silverHammerMediaNav"><a href="#/silverHammerMedia">Media</a></li>
					<li id="silverHammerSongListNav" name="silverHammerSongListNav"><a href="#/silverHammerSongList">Song List</a></li>
					<li id="2ndGen" name="2ndGen"><a href="#/index" ng-click="navigateTo2ndGen()">Back to 2nd Generation</a></li>
				</ul>
			</div>
			2ndGen: {{is2ndGen()}}
		</div>
		<div ng-view></div>

		
	</div>
	<div id="footer">
		<p>© 2013 2nd Generation Band. All rights reserved. Design by <a href="http://www.freecsstemplates.org">FCT</a>.  </p>
	</div>
	<!-- end #footer -->

	<script type="text/javascript" src="lib/angular.min.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/controllers.js"></script>
</body>
</html>
