<iframe width="580" height="460" src="http://s42.photobucket.com/user/andy_richards3/embed/slideshow/The%20Silver%20Hammer%20Quartet" style="margin-left:30%;margin-right:auto;width:40%;"></iframe>

<div style="text-align:center;margin-top:40px;">
	<iframe width="700" height="495" src="//www.youtube.com/embed/4SI5J4cCZAQ" frameborder="0" allowfullscreen></iframe>
</div>
<div style="text-align:center;margin-top:40px;">
	<iframe width="700" height="495" src="//www.youtube.com/embed/dYwk5NEzOT8" frameborder="0" allowfullscreen></iframe>
</div>

